<div class="container d-flex justify-content-center">
    <div class="contact px-5 py-5 w-75">
        
          <h4>Leave a comment on this post</h4> 
        
        
        <div class="row">
            <div class="col-md-6"> <input type="text" class="form-control" placeholder="name" /> </div>
            <div class="col-md-6"> <input type="text" class="form-control" placeholder="phone" /> </div>
        </div>
        <div class="row">
            <div class="col-md-6"> <input type="text" class="form-control" placeholder="email" /> </div>
            <div class="col-md-6"> <input id="date" type="text" class="form-control" placeholder="When can we call you?" /> </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12"> 
                <textarea rows="6" class="form-control" placeholder="Let us know how can we help you?"></textarea> </div>
            
        </div>
        <div class="pull-left">
           <button class="btn btn-success mt-2 px-5">Send Message <i class="fa fa-long-arrow-right ml-2 mt-1"></i></button>
        
        </div>
       
    </div>
</div>